<div class="col-md-10 table-responsive">
  <table class="table table-hover">
    <tr>
      <th class="col-md-7">Task</th>
      <th class="col-md-2">Time Remaining</th>
      <th class="col-md-1">Complete</th>
    </tr>

    <% @list.tasks.each do |task| %>
      <tr>
        <td class="col-md-7 list-text"><%= task.description %></td>
        <td class="col-md-2 centered"><span class="badge"><%= distance_of_time_in_words(Time.now, task.time_goal) %></span></td>
        <td class="col-md-1"><%= link_to "Done !", task_url_helper(task), method: :delete, class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </table>
</div>