<div class="row">
  <div class="jumbotron">
    <div class="col-md-5">
      <div class="pull-right">
        <%= image_tag("clock.svg", :alt => "Time Task It Logo") %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="pull-left">
        <h1>Time Task It</h1>
        <p>In a sea of things to do, </br>prioritize your life!</p>
      </div>
    </div>
  </div>
</div>
