<div class="row">
  <div class="jumbotron">
    <div class="col-md-5 col-xs-6">
      <div class="pull-right">
        <%= image_tag("clock.svg", :alt => "Time Task It Logo", :class => "img-responsive") %>
      </div>
    </div>
    <div class="col-md-7 col-xs-6">
      <div class="pull-left">
        <h1>Time Task It</h1>
        <p>In a sea of things to do, </br>prioritize your life!</p>
      </div>
    </div>
  </div>
</div>
<div class="container sign-up-band">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default btn-lg pull-left breather-side' %>
      <h4 class="white-text breather">Sign up for Free today!</h4>
    </div>  
  </div>
</div>

