
body {
  padding-top: 70px;
  margin-top: 1em;
  background: asset-url("ocean_background.svg", image) no-repeat 0 0 fixed;
  background-size: cover;
  z-index: 5;
}

nav .container {
  padding-right: 5em;
  padding-left: 5em;
} 

.main-container {
  padding-bottom: 150px;
}

.navbar-default {
  height: 75px;
  background-color:transparent;
  border: none;
  background: asset-url("wave-navbar.svg", image) repeat-x 0 0;
}

.breather {
  margin-top: 10px;
}

.breather-lg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.breather-xl {
  margin-top: 3em;
}

.breather-side {
  margin-right: 1em;
}

.centered-text {
  text-align: center;
}

.list-text {
  font-size: 1.25em;
}

.white-text {
  color: white;
}

.jumbotron {
  background: transparent;
  text-align: center;
}

.sign-up-band {
  width: 100%;
  height: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #333333;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a {
  color: #333333;
}

footer {
  postion: absolute;
  bottom: 0px;
  width:100%;
  height: 200px;
  margin: 0;
  background: asset-url("sea-floor-footer.svg", image) no-repeat;
  background-size: cover;
  z-index: 1;
}


