body {
  margin-top: 1em;
  background:url(ocean_background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
}

.main-content {
  padding-top: 2em;
}

.breather {
  margin-top: 10px;
}